In [11]:
import pandas as pd

In [12]:
def count_top3(list_of_years):
    years = []
    for year in list_of_years:
        file_path = 'names/' + 'yob' + str(year) + '.txt'
        table = pd.read_csv(file_path, names=['Name', 'Gender', 'Count'])
#         table = table.sort_values('Count', ascending=False)
#         print(table)
        years.append(table)
    df_res = pd.concat(years, ignore_index=True)
    df_res = df_res.groupby(['Name']).sum()
    df_res = df_res.sort_values('Count', ascending=False, ignore_index=False)
    print(df_res)
    print(df_res.index[0:3].tolist())

In [13]:
count_top3([1950, 2000, 2010])

           Count
Name
James     118415
Michael   114861
John      111292
Robert    105090
William    98588
...          ...
Fiifi          5
Filicity       5
Filza          5
Sausha         5
Zzyzx          5

[42685 rows x 1 columns]
['James', 'Michael', 'John']

In [14]:
def count_dynamics(list_of_years):
    years = []
    f_list = []
    m_list = []
    for year in list_of_years:
        file_path = 'names/' + 'yob' + str(year) + '.txt'
        table = pd.read_csv(file_path, names=['Name', 'Gender', 'Count'])
        years.append(table)
        table = table.groupby('Gender').sum()
        table = table.values.tolist()
        f_list.append(table[0][0])
        m_list.append(table[1][0])
    result = {'F': f_list,
             'M': m_list}
    print(result)

In [15]:
count_dynamics([1900, 1950, 2000])

{'F': [299798, 1713065, 1815295], 'M': [150480, 1790437, 1963202]}